<!DOCTYPE html>
{% load static %}

<html lang="uk">
<head>
    <meta charset="UTF-8">

    <meta
        name="viewport"
        content="width=device-width, initial-scale=1.0"
    >

    <title>Видалити матеріал зі схеми</title>

    <<link
    rel="stylesheet"
    href="{% static 'schemes/css/styles.css' %}"
    >

    <link
    rel="stylesheet"
    href="{% static 'materials/css/styles.css' %}"
    >
</head>

<body>
<header class="site-header">
    <div class="container header-content">
        <div>
            <h1>BeadsCraft CRM</h1>
            <p>Видалення матеріалу зі схеми</p>
        </div>

        <a
            class="admin-link"
            href="{% url 'schemes:scheme_detail' scheme.pk %}"
        >
            Повернутися до схеми
        </a>
    </div>
</header>

<main class="container delete-page">
    <section class="delete-card">
        <h2>Видалити матеріал?</h2>

        <p>
            Видалити
            <strong>«{{ requirement.material }}»</strong>
            зі списку матеріалів схеми
            <strong>«{{ scheme.title }}»</strong>?
        </p>

        <p class="delete-warning">
            Сам матеріал зі складу не видаляється.
            Буде видалено лише його зв’язок зі схемою.
        </p>

        <form method="post">
            {% csrf_token %}

            <div class="delete-actions">
                <button
                    class="danger-button"
                    type="submit"
                >
                    Так, видалити
                </button>

                <a
                    class="secondary-link"
                    href="{% url 'schemes:scheme_detail' scheme.pk %}"
                >
                    Скасувати
                </a>
            </div>
        </form>
    </section>
</main>
</body>
</html>