<!DOCTYPE html>
{% load static %}

<html lang="uk">
<head>
    <meta charset="UTF-8">

    <meta
        name="viewport"
        content="width=device-width, initial-scale=1.0"
    >

    <title>{{ page_title }} — BeadsCraft CRM</title>

    <link
    rel="stylesheet"
    href="{% static 'schemes/css/styles.css' %}"
    >

    <link
    rel="stylesheet"
    href="{% static 'materials/css/styles.css' %}"
    >
</head>

<body>
<header class="site-header">
    <div class="container header-content">
        <div>
            <h1>BeadsCraft CRM</h1>
            <p>{{ page_title }}</p>
        </div>

        <a
            class="admin-link"
            href="{{ cancel_url }}"
        >
            Повернутися до схеми
        </a>
    </div>
</header>

<main class="container form-page">
    <section class="scheme-form-card material-form-card">
        <h2>{{ page_title }}</h2>

        <form method="post" novalidate>
            {% csrf_token %}

            {% if form.non_field_errors %}
                <div class="form-errors">
                    {% for error in form.non_field_errors %}
                        <p>{{ error }}</p>
                    {% endfor %}
                </div>
            {% endif %}

 {% for field in form.visible_fields %}
    <div class="model-form-field">
        <div class="field-label">
            {{ field.label_tag }}

            {% if field.field.required %}
                <span class="required">*</span>
            {% endif %}
        </div>

        {{ field }}

        {% if field.help_text %}
            <small class="help-text">
                {{ field.help_text }}
            </small>
        {% endif %}

        {% if field.errors %}
            <div class="field-errors">
                {% for error in field.errors %}
                    <p class="field-error">
                        {{ error }}
                    </p>
                {% endfor %}
            </div>
        {% endif %}
    </div>
{% endfor %}

            <div class="model-form-actions">
                <button type="submit">
                    {{ button_text }}
                </button>

                <a href="{{ cancel_url }}">
                    Скасувати
                </a>
            </div>
        </form>
    </section>
</main>
</body>
</html>